MenuScreen {
    padding-top: 1;
}

MenuScreen > Static {
    padding-left: 1;
}

MenuScreen #footer {
    dock: bottom;
    background: $background-lighten-1;
    height: 1;
    width: 100%;
    padding: 0;
}

MenuScreen > Label {
    margin: 0 1;
}

MenuScreen #cur-input {
    width: 40vw;
}

MenuScreen #help-section {
    width: 50vw;
}

MenuScreen #help-section Label {
    margin: 0 1;
}

MenuScreen #mode {
    width: 10vw;
    text-align: right;
}

Horizontal .title {
    color: $accent-darken-1;
    text-style: bold;
}

Horizontal .help {
    color: $primary-lighten-3;
    text-style: bold;
}

ModalScreen {
    align: center middle;
}

ModalScreen Input {
    border: none;
    height: auto;
    margin: 0;
    padding: 0;
}

ModalScreen > Vertical {
    width: 40vw;
    align: center middle;
    height: auto;
}

ResultScreen RichLog {
    width: 80vw;
    height: 80vh;
    border: $primary wide;
    padding: 1;
}

ValueArgumentInputScreen Label.result {
    background: $primary;
    margin-right: 1;
    padding: 0;
}

ValueArgumentInputScreen Label.highlighted {
    background: $primary-darken-3;
}

SuggestionsList {
    align: center middle;
    height: auto;
    max-height: 20;
    margin: 1;
}

SuggestionsList > OptionList {
    border: $primary wide;
    width: auto;
    min-width: 50;
    max-width: 20%;
    max-height: 80vh;
}

ArgumentInput {
    height: auto;
    align: center top;
    min-height: 20;
}

ArgumentInput > Vertical {
    align: center top;
    height: auto;
}

ArgumentInput #labelled-input {
    border: $primary tall;
    margin: 1;
    padding: 0 1;
    height: auto;
    min-height: 3;
}

ArgumentInput .highlights {
    height: auto;
    min-height: 5;
    align: center top;
}
