ModalScreen Horizontal {
    dock: bottom;
    height: auto;
}

ModalScreen Vertical {
    dock: bottom;
    height: auto;
}

ModalScreen Input {
    border: none;
    height: auto;
    margin: 0;
    padding: 0;
}

ChoiceArgumentInputScreen OptionList {
    dock: bottom;
    margin: 0;
    border: none;
}

Footer {
    dock: top;
}

MenuScreen {
    padding-top: 1;
}

MenuScreen > Static {
    padding-left: 1;
}

MenuScreen #footer {
    dock: bottom;
    background: $background-lighten-1;
    height: 1;
    width: 100%;
    padding: 0;
}

MenuScreen Label {
    margin: 0 1;
}

MenuScreen #cur-input {
    width: 40vw;
}

MenuScreen #help-section {
    width: 50vw;
}

MenuScreen #mode {
    width: 10vw;
    text-align: right;
}

Horizontal .title {
    color: $accent-darken-1;
    text-style: bold;
}

Horizontal .help {
    color: $primary-lighten-3;
    text-style: bold;
}

ValueArgumentInputScreen .result {
    background: $primary;
    margin: 0 1;
    padding: 0 1;
}

ValueArgumentInputScreen .highlighted {
    background: $primary-darken-3;
}

ValueArgumentInputScreen OptionList#suggestions {
    border: $accent wide;
    width: auto;
    height: auto;
    min-width: 30;
    max-width: 20%;
    max-height: 40%;
    offset: 40vw 30vh;
}
