ModalScreen Label {
    background: $background-lighten-1;
}

ModalScreen Horizontal {
    dock: bottom;
    height: auto;
}

ModalScreen Input {
    border: none;
    height: auto;
    margin: 0;
    padding: 0;
}

ModalScreen OptionList {
    dock: bottom;
    margin: 0;
    border: none;
}

MenuScreen Label {
    dock: bottom;
    background: $background-lighten-3;
    width: 100%;
    height: auto;
    border: none;
    margin: 0;
    padding: 0;
}
