InputValueSetter {
    align: center middle;
}

command-table {
    border: none;
}

#user-input {
    align: center bottom;
    width: 100;
    height: 1;
}

#buffer {
    dock: bottom;
}

#dock-user-input {
    dock: bottom
}

#transient {
    content-align: left top;
    width: auto;
    height: auto;
}
