InputValueSetter {
    align: center middle;
}

command-table {
    border: none;
}

#user-input {
    align: center bottom;
    width: 100;
    height: 3;
}

#command-selection {
    content-align: left top;
    width: auto;
    height: auto;
}
